*.o
*.cf
*.ghw
testbench

gateware/syn/tdc_syn.gise
gateware/syn/tdc_top.bgn
gateware/syn/tdc_top.bin
gateware/syn/tdc_top.bit
gateware/syn/tdc_top.bld
gateware/syn/tdc_top.cmd_log
gateware/syn/tdc_top.drc
gateware/syn/tdc_top.gise
gateware/syn/tdc_top.lso
gateware/syn/tdc_top.ncd
gateware/syn/tdc_top.ngc
gateware/syn/tdc_top.ngd
gateware/syn/tdc_top.ngr
gateware/syn/tdc_top.pad
gateware/syn/tdc_top.par
gateware/syn/tdc_top.pcf
gateware/syn/tdc_top.prj
gateware/syn/tdc_top.ptwx
gateware/syn/tdc_top.stx
gateware/syn/tdc_top.syr
gateware/syn/tdc_top.twr
gateware/syn/tdc_top.twx
gateware/syn/tdc_top.unroutes
gateware/syn/tdc_top.ut
gateware/syn/tdc_top.xpi
gateware/syn/tdc_top.xst
gateware/syn/tdc_top_bitgen.xwbt
gateware/syn/tdc_top_envsettings.html
gateware/syn/tdc_top_guide.ncd
gateware/syn/tdc_top_map.map
gateware/syn/tdc_top_map.mrp
gateware/syn/tdc_top_map.ncd
gateware/syn/tdc_top_map.ngm
gateware/syn/tdc_top_map.xrpt
gateware/syn/tdc_top_ngdbuild.xrpt
gateware/syn/tdc_top_pad.csv
gateware/syn/tdc_top_pad.txt
gateware/syn/tdc_top_par.xrpt
gateware/syn/tdc_top_summary.html
gateware/syn/tdc_top_summary.xml
gateware/syn/tdc_top_usage.xml
gateware/syn/tdc_top_xst.xrpt
gateware/syn/par_usage_statistics.html
gateware/syn/usage_statistics_webtalk.html
gateware/syn/webtalk.log
gateware/syn/webtalk_pn.xml
gateware/syn/_ngo/
gateware/syn/_xmsgs/
gateware/syn/iseconfig/
gateware/syn/xlnx_auto_0_xdb/
gateware/syn/xst/

theory_of_operation/simulations/dtot_amplitude
theory_of_operation/simulations/dtot_shape
